.header {
  @include pageGrid;

  &__line {
    display: none;

    @include onDesktop {
      display: block;
      height: 1px;
      width: 100%;
      background: rgba(52, 79, 16, 0.50);
    }

    &--left {
      grid-column: 1/6;
      margin-bottom: 100px;
    }

    &--right {
      grid-column: 7/-1;
      margin: 100px 0 200px;
    }
  }

  &__top {
    padding: 20px 20px;
    grid-column: 1/-1;

    @include onTablet {
      padding: 27px 27px;
      padding-bottom: 30px;
    }

    @include onDesktop {
      padding: 40px 50px;
      padding-bottom: 0;
      margin-bottom: 80px;
    }

    &-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-icon {
      display: block;
      background-repeat: no-repeat;
      background-position: center;

      &--menu {
        background-image: url(../images/icons/burger-menu-icon.svg);
        height: 13px;
        width: 20px;
        @include onDesktop {
          display: none;
        }
      }

      &--bird {
        background-image: url(../images/icons/bird-icon.svg);
        height: 24px;
        width: 24px;
        transition: all 0.3s;

        @include hover {
          transform: scale(110%);
        }
      }

      &--bag {
        background-image: url(../images/icons/bag-icon.svg);
        height: 24px;
        width: 20px;
        transition: all 0.3s;

        @include hover {
          transform: scale(110%);
        }
      }
    }

    &-text {
      display: none;
      color: #344F10;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 0.7px;
      text-transform: uppercase;

      @include onDesktop {
        display: block;
      }
    }

    &-bird {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &__bottom {
    grid-column: 1/-1;
    @include pageGrid;

    @include onTablet {
      padding-inline: 27px;
    }

    @include onDesktop {
      padding-inline: 50px;
      margin-bottom: 200px;
    }

    &-img {
      width: 100%;
      grid-column: 1/-1;
      margin-bottom: 25px;
      transition: all 0.3s;
      cursor: pointer;

      @include onTablet {
        grid-column: 1/-1;
      }

      @include onDesktop {
        grid-column: 7/-1;
      }

      @include hover {
        transform: scale(105%);
        -webkit-box-shadow: 14px 10px 46px 0 rgba(0,0,0,0.65);
        -moz-box-shadow: 14px 10px 46px 0 rgba(0,0,0,0.65);
        box-shadow: 14px 10px 46px 0 rgba(0,0,0,0.65);
      }
    }

    &-content {
      @include pageGrid;
      grid-column: 1/-1;
      padding-inline: 20px;
      margin-bottom: 100px;

      @include onTablet {
        padding-inline: 0;
      }

      @include onDesktop {
        grid-row: 1/-1;
        grid-column: 2/7;
      }
    }

    &-title {
      font-family: Poppins, sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 130%;
      text-align: center;
      color: #333;
      grid-column: 1/-1;
      margin-bottom: 10px;

      @include onTablet {
        font-size: 36px;
        padding-inline: 150px;
      }

      @include onDesktop {
        grid-column: 1/-1;
        font-size: 60px;
        padding-inline: 0;
        text-align: start;
      }
    }

    &-text {
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-align: center;
      color: #333;
      grid-column: 1/-1;
      margin-bottom: 30px;
      @include onTablet {
        padding-inline: 250px;
      }

      @include onDesktop {
        grid-column: 1/-1;
        padding-inline: 0;
        text-align: start;
      }
    }

    &-link {
      grid-column: 1/-1;

      @include onTablet {
        grid-column: 3/-3;
      }

      @include onDesktop {
        grid-column: 1/8
      }
    }

    &-button {
      background-color: #333;
      height: 60px;
      color: #f2f2f2;
      text-align: center;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      border: none;
      width: 100%;
      cursor: pointer;
      transition: all 0.3s;

      @include hover {
        box-sizing: border-box;
        background-color: #E4DFD3;
        border: 1px solid #333;
        color: #333;
      }
    }

    &-low {
      @include pageGrid;
      padding-inline: 20px;
      grid-column: 1/-1;

      @include onTablet {
        padding-inline: 244px;
      }

      @include onDesktop {
        padding-inline: 50px;
      }
    }

    &-paragraph {
      color: #344f10;
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      text-align: center;
      grid-column: 1/-1;
      margin-bottom: 100px;

      @include onTablet {
        margin-bottom: 130px;
      }

      @include onDesktop {
        font-size: 24px;
        grid-column: 7/-3;
        text-align: start;
      }

      &--second {
        display: none;

        @include onDesktop {
          display: block;
          grid-column: 2/6;
          grid-row: 1/-1;
          color: #333;
          font-family: Poppins, sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
          text-align: start;
        }
      }
    }
  }
}
