.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px 20px;
  background-color: #333;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  gap: 45px;

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateX(-100%);

  @include onDesktop {
    display: none;
  }

  &:target {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
  }

  &__top {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    &::after {
      display: block;
      content: "";
      height: 1px;
      width: 100%;
      background-color: #828282;
    }
  }

  &__link {
    text-decoration: none;
    color: #E4DFD3;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
  }
}
